.tab-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tablink {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}

.tablink:hover {
  background-color: #ddd;
}

.tab-content {
  display: none;
  padding: 20px;
  text-align: center; /* Center align text */
}

.tab-content.active {
  display: block;
}
