/* styles.css */

.tab-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tablink {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}

.tablink:hover {
  background-color: #ddd;
}

.tab-content {
  display: none;
  padding: 20px;
  text-align: center; /* Center align text */
}

.tab-content.active {
  display: block;
}

.tab-content ul {
  text-align: center; /* Align bullet points to the left */
}

.tab-content p {
  text-align: center; /* Center align paragraphs */
}

.tab-content ul,
.tab-content p {
  margin: 0 auto; /* Center the content horizontally */
  max-width: 600px; /* Adjust max-width as needed */
}

